version: '3'
services:
    db:
        image: mysql:8.0
        volumes:
            - db_data:/var/lib/mysql
        restart: always
        ports:
            - "4306:3306"
            - "5567:5567"
            - "5568:5568"
        environment:
            #MYSQL_RANDOM_ROOT_PASSWORD: yes
            MYSQL_ROOT_PASSWORD: random
            MYSQL_DATABASE: contile
            MYSQL_USER: test
            MYSQL_PASSWORD: test

    app:
        build: .
        ports:
          - "8000:8000"
        depends_on:
          - db
        environment:
          DATABASE_URL: mysql://test:test@db:3306/contile

volumes:
    db_data:

# Application runs off of port 8000.
# you can test if it's available with
# curl "http://localhost:8000/v1/status"
