[flake8]
exclude =
    .git,
    __pycache__,
extend-ignore =
    # E203 whitespace before ':'
    # https://github.com/psf/black/issues/315
    E203
per-file-ignores =
    # imported but not used
    __init__.py:F401
max-line-length = 88
